.displayHomepage blockquote {
	font-size: 1.5em;
	margin: 0;
}
.displayHomepage img {
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
}
#innerBox {
	background-color: white;
	border: 2px solid grey;
}
.displaySubSection h2 {
	margin-top: 1.25em;
}

.subSectionContent a {
	color: darkred;
	text-decoration: grey underline;
}

.displaySubSection h2 aside {
	font-size: 0.75em;
	margin-top: 0.5em;
}
.subSectionContent h3 {
	visibility: hidden;
	height: 20px;
}
.noSubSections h3 {
	display: none;
	height: 0px;
}

h4 {
	display: inline-block;
	padding: 10px 15px;
	border-radius: 12px;
	margin-bottom: 20px;
	color: white;
}
h3 {
	border-radius: 15px;
	width: auto !important;
	max-width: 180px;
	font-size: 1em;
}
section:nth-of-type(5n + 1) .visible h3 {
	border: 2px solid #777;
}
section:nth-of-type(5n + 2) .visible h3 {
	border: 2px solid #777;
}
section:nth-of-type(5n + 3) .visible h3 {
	border: 2px solid #777;
}
section:nth-of-type(5n + 4) .visible h3 {
	border: 2px solid #777;
}
section:nth-of-type(5n + 5) .visible h3 {
	border: 2px solid #777;
}
section:nth-of-type(5n + 1) h3 {
	background-color: #ffdfcb;
}
section:nth-of-type(5n + 2) h3 {
	background-color: #e9f6f2;
}
section:nth-of-type(5n + 3) h3 {
	background-color: #e0eff1ff;
}
section:nth-of-type(5n + 4) h3 {
	background-color: #f0e2f0ff;
}
section:nth-of-type(5n + 5) h3 {
	background-color: #f3ded6ff;
}

.displaySubSection section:nth-of-type(5n + 1) h2 a,
.displaySubSection section:nth-of-type(5n + 1) h2 a aside,
section:nth-of-type(5n + 1) h3 {
	color: #eb6209ff !important;
}

section:nth-of-type(5n + 1) h4 {
	background-color: #eb6209ff;
}

.displaySubSection section:nth-of-type(5n + 2) h2 a,
.displaySubSection section:nth-of-type(5n + 2) h2 a aside,
section:nth-of-type(5n + 2) h3 {
	color: #2a9d8f !important;
}

section:nth-of-type(5n + 2) h4 {
	background-color: #2a9d8f;
	color: white;
}

.displaySubSection section:nth-of-type(5n + 3) h2 a,
.displaySubSection section:nth-of-type(5n + 3) h2 a aside,
section:nth-of-type(5n + 3) h3 {
	color: #1d3d91ff !important;
}

section:nth-of-type(5n + 3) h4 {
	background-color: #1d3d91ff;
	color: white;
}

.displaySubSection section:nth-of-type(5n + 4) h2 a,
.displaySubSection section:nth-of-type(5n + 4) h2 a aside,
section:nth-of-type(5n + 4) h3 {
	color: #a72886ff !important;
}

section:nth-of-type(5n + 4) h4 {
	background-color: #a72886ff;
	color: white;
}

.displaySubSection section:nth-of-type(5n + 5) h2 a,
.displaySubSection section:nth-of-type(5n + 5) h2 a aside,
section:nth-of-type(5n + 5) h3 {
	color: #af201fff !important;
}

section:nth-of-type(5n + 5) h4 {
	background-color: #af201fff;
	color: white;
}

.displayHomepage h2 a:hover {
	background-color: #f1f1f1f1;
	border-color: #b2a889;
	color: black;
}
.displayHomepage h2 a {
	background-color: white;
}
h3 img {
	margin-left: 0.5em;
}

@media screen and (max-width: 834px) {
	section:nth-of-type(5n + 1) h3,
	section:nth-of-type(5n + 2) h3,
	section:nth-of-type(5n + 3) h3,
	section:nth-of-type(5n + 4) h3,
	section:nth-of-type(5n + 5) h3 {
		border: none;
		max-width: unset;
		padding: 0;
	}
	section:nth-of-type(5n + 1) .visible h3,
	section:nth-of-type(5n + 2) .visible h3,
	section:nth-of-type(5n + 3) .visible h3,
	section:nth-of-type(5n + 4) .visible h3,
	section:nth-of-type(5n + 5) .visible h3 {
		background-color: unset;
		border: none;
	}
	section:nth-of-type(5n + 1) h3 a,
	section:nth-of-type(5n + 2) h3 a,
	section:nth-of-type(5n + 3) h3 a,
	section:nth-of-type(5n + 4) h3 a,
	section:nth-of-type(5n + 5) h3 a {
		width: 130px !important;
	}
	section:nth-of-type(5n + 1) h3 a {
		border-bottom-color: #eb6209ff;
	}
	section:nth-of-type(5n + 2) h3 a {
		border-bottom-color: #2a9d8f;
	}
	section:nth-of-type(5n + 3) h3 a {
		border-bottom-color: #1d3d91ff;
	}
	section:nth-of-type(5n + 4) h3 a {
		border-bottom-color: #a72886ff;
	}
	section:nth-of-type(5n + 5) h3 a {
		border-bottom-color: #af201fff;
	}
	.subSectionContent h3 {
		margin: 0;
		height: 0;
	}
}
