:root {
	--color1: #eb6209;
	--color1light: #ffe8d9;
	--color2: #ae268b;
	--color2light: #f0e2f0;
	--color3: #1d3d91;
	--color3light: #e8eaf7;
	--color4: #af201f;
	--color4light: #f3ded6;
	--color5: #2a9d8f;
	--color5light: #d7f2ee;
}

#innerBox,
#backgroundInnerBox,
.subSectionContent {
	background-color: white !important;
}

.displayHomepage blockquote {
	font-size: 1.35em;
}

.displayHomepage h2 a:hover {
	background-color: #f1f1f1f1;
	border-color: #b2a889;
	color: black;
}
.displayHomepage h2 a {
	background-color: white;
}
.displayHomepage footer {
	display: none;
}

#initialMessage a,
main a:not(.navigationLink),
main a:not(.navigationLink):visited {
	color: darkred;
	border: none;
}
main a:not(.navigationLink):hover,
main a:not(.navigationLink):hover {
	border-bottom: 1px solid grey;
}

h3 {
	border-radius: 15px;
}

h4 {
	display: inline-block;
	padding: 10px 15px;
	border-radius: 12px;
	margin-bottom: 20px;
	color: white;
}

footer {
	height: 3em;
	background-color: #ebeff8;
}

@media screen and (min-width: 834px) {
	h3 {
		margin-left: -3em;
	}
	footer a {
		margin-left: 1em;
	}
}

footer a {
	color: #555;
	max-width: 230px;
}

#content > section:nth-of-type(5n + 1) .visible h3,
#content > section:nth-of-type(5n + 2) .visible h3,
#content > section:nth-of-type(5n + 3) .visible h3,
#content > section:nth-of-type(5n + 4) .visible h3,
#content > section:nth-of-type(5n + 5) .visible h3 {
	border: 2px solid #777;
}
#content > section:nth-of-type(5n + 1) h3,
#content > section:nth-of-type(5n + 1) .visible h3 {
	background-color: var(--color1light);
}
#content > section:nth-of-type(5n + 2) h3,
#content > section:nth-of-type(5n + 2) .visible h3 {
	background-color: var(--color2light);
}
#content > section:nth-of-type(5n + 3) h3,
#content > section:nth-of-type(5n + 3) .visible h3 {
	background-color: var(--color3light);
}
#content > section:nth-of-type(5n + 4) h3,
#content > section:nth-of-type(5n + 4) .visible h3 {
	background-color: var(--color4light);
}
#content > section:nth-of-type(5n + 5) h3,
#content > section:nth-of-type(5n + 5) .visible h3 {
	background-color: var(--color5light);
}

.displaySubSection #content > section:nth-of-type(5n + 1) h2 a,
.displaySubSection #content > section:nth-of-type(5n + 1) h2 a aside,
#content > section:nth-of-type(5n + 1) h3 {
	color: var(--color1);
}

h4 {
	border-bottom: 2px solid;
	border-radius: 0;
	font-weight: bold;
	padding: 10px 20px 10px 2px;
}

#content > section:nth-of-type(5n + 1) h4 {
	color: var(--color1);
}

.displaySubSection #content > section:nth-of-type(5n + 2) h2 a,
.displaySubSection #content > section:nth-of-type(5n + 2) h2 a aside,
#content > section:nth-of-type(5n + 2) h3 {
	color: var(--color2);
}

#content > section:nth-of-type(5n + 2) h4 {
	color: var(--color2);
}

.displaySubSection #content > section:nth-of-type(5n + 3) h2 a,
.displaySubSection #content > section:nth-of-type(5n + 3) h2 a aside,
#content > section:nth-of-type(5n + 3) h3 {
	color: var(--color3);
}

#content > section:nth-of-type(5n + 3) h4 {
	color: var(--color3);
}

.displaySubSection #content > section:nth-of-type(5n + 4) h2 a,
.displaySubSection #content > section:nth-of-type(5n + 4) h2 a aside,
#content > section:nth-of-type(5n + 4) h3 {
	color: var(--color4);
}

#content > section:nth-of-type(5n + 4) h4 {
	color: var(--color4);
}

.displaySubSection #content > section:nth-of-type(5n + 5) h2 a,
.displaySubSection #content > section:nth-of-type(5n + 5) h2 a aside,
#content > section:nth-of-type(5n + 5) h3 {
	color: var(--color5);
}

#content > section:nth-of-type(5n + 5) h4 {
	color: var(--color5);
}

@media screen and (max-width: 834px) {
	html {
		background-color: white;
	}
	.displaySubSection main {
		box-shadow: none;
	}
	body:not(.lightpad) #content > section:nth-of-type(5n + 1) h3,
	body:not(.lightpad) #content > section:nth-of-type(5n + 2) h3,
	body:not(.lightpad) #content > section:nth-of-type(5n + 3) h3,
	body:not(.lightpad) #content > section:nth-of-type(5n + 4) h3,
	body:not(.lightpad) #content > section:nth-of-type(5n + 5) h3 {
		background-color: unset !important;
		border: none !important;
	}
	#content > section:nth-of-type(5n + 1) h3 a {
		border-bottom-color: var(--color1);
	}
	#content > section:nth-of-type(5n + 2) h3 a {
		border-bottom-color: var(--color2);
	}
	#content > section:nth-of-type(5n + 3) h3 a {
		border-bottom-color: var(--color3);
	}
	#content > section:nth-of-type(5n + 4) h3 a {
		border-bottom-color: var(--color4);
	}
	#content > section:nth-of-type(5n + 5) h3 a {
		border-bottom-color: var(--color5);
	}

	.subSection h4 {
		border: none;
	}
}
