html {
	max-height: none;
	overflow-y: unset;
}

h1,
#searchBar {
	position: fixed !important;
}
h1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: left;
	top: 0;
	width: 100%;
	background: #004450;
	color: white;
	height: 1.15em;
	overflow: hidden;
	justify-content: left !important;
	padding-left: 10px;
	padding-top: 0.12em !important;
	padding-bottom: 0.18em;
}
h1 img {
	height: 1.5em;
	object-fit: contain;
	vertical-align: middle;
}

#initialMessage {
	display: none !important;
}
main {
	margin-top: 2.75em;
}
#content > section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sectionContent {
	margin-top: -0.75em !important;
	box-sizing: border-box;
	width: 95% !important;
}
.sectionContent,
h2 {
	margin-left: auto;
	margin-right: auto;
}
#innerBox {
	overflow-y: hidden;
}

.subSectionContent img,
.noSubSections img {
	display: block;
	margin: auto;
}
h3 a {
	width: auto;
}
h3 img + a {
	width: unset;
}

#content > section,
section h3 {
	cursor: grab;
}
.subSection,
.noSubSections {
	cursor: auto;
}

h1 span.textFitted {
	padding-left: 10px;
	padding-right: 10px;
}

.useBanner #initialMessage {
	display: block !important;
	width: fit-content;
	max-width: fit-content;
	margin-top: 3em;
	margin-bottom: 0;
	margin-left: 0.75em;
	overflow: hidden !important;
}
.useBanner #initialMessage button {
	padding: 0 15px;
	height: 30px;
	margin-right: 0.75em;
	margin-bottom: 0.75em;
	background-color: white !important;
	border: 1px solid black;
	color: black;
	font-weight: bold;
	border-radius: 7px;
	min-width: fit-content;
}
.banner {
	margin: 1em 0;
}
.banner > * {
	margin: 0;
}
.banner div p {
	margin: 0;
}

@media (pointer: fine) {
	.useBanner #initialMessage button:hover {
		background-color: #aaa !important;
	}
}
.useBanner #initialMessage button.active {
	background-color: #333 !important;
	color: white;
}
.useBanner #initialMessage button:first-of-type {
	margin-left: 1em;
}
.useBanner #content {
	margin-top: -3.75em;
}
.useBanner.noColumns #content {
	overflow: visible;
	padding-top: 0 !important;
	margin-top: -1.75em;
}

@media screen and (max-width: 500px) {
	.useBanner.noColumns main {
		overflow-y: auto;
		padding-top: 2em;
		padding-bottom: 0em;
		height: 75%;
		margin-top: 2em;
	}
	.banner {
		position: absolute;
		background: #fffffff0;
		z-index: -10;
		margin-left: -30px;
		padding: 2em;
		height: 80vh;
		overflow-y: scroll;
		min-width: 83%;
	}
	.banner:before {
		content: "âŒ";
		position: absolute;
		right: 30px;
		font-size: 1em;
		top: 10px;
		opacity: 0.6;
	}
	.useBanner #content {
		margin-top: -2em;
	}
	h1 {
		height: 1.5em !important;
		justify-content: center !important;
		text-align: center;
		padding-left: 0 !important;
	}
	h1 img {
		margin-right: 0;
	}
	h1 span.textFitted {
		padding-right: 80px;
	}
	main {
		margin-top: 3em;
	}
	#content > section {
		background: #f6f6f8;
		min-width: 100% !important;
	}
}

@media screen and (min-width: 500px) {
	span.textFitted {
		padding-right: 200px;
	}
	.banner {
		position: fixed;
		width: 95vw;
	}
	#autoFilters {
		display: flex;
		flex-wrap: wrap;
	}
	.useBanner #content {
		margin-top: 0;
	}
}

@media screen and (max-width: 834px) {
	.displaySubSection main {
		box-shadow: none;
		background-color: transparent;
	}
}
