body {
	font-size: 0.95em;
}
@media screen and (max-width: 834px) {
	.noSearchBar h1 {
		padding-top: unset;
	}
}
h1 {
	margin: 0em;
	padding-top: 0.25em;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
#linkToHomePage,
#searchBar {
	display: none;
}
#initialMessage {
	width: 80vw;
	max-width: 80vw;
}
section,
.displaySubSection .subSection.visible,
.visible,
.visible .sectionContent,
.displaySubSection .subSection:not(.visible) .subSectionContent,
.displayHomepage .sectionContent,
.displayHomepage .subSection,
.displaySection .subSectionContent,
.displaySection h2,
.displaySection header,
.displaySubSection h2,
.displaySubSection header,
.sectionContent {
	display: block !important;
}
#backgroundInnerBox,
#innerBox {
	width: 100vw;
	height: 100vh;
	max-width: none;
	margin: 0;
	padding: 0;
}
h2 {
	margin-bottom: 1em !important;
}
.displayHomepage h2 a {
	background-color: unset;
	border: unset;
	font-weight: unset;
	width: unset;
	font-size: unset;
	padding: unset;
}
.displayHomepage h2 a:hover {
	background-color: unset;
	border-color: unset;
	color: unset;
}
#content {
	display: flex;
	width: 100vw;
}
#content > section {
	min-width: 300px;
	max-width: 400px;
	background: #ebeff8;
}
.theme-colors #content > section {
	background: white;
}
.sectionContent {
	padding: 10px;
	width: 90%;
	overflow-y: auto;
}
.subSection {
	border: 1px solid black;
	border-radius: 15px;
	background: white;
	margin-bottom: 1em;
}

.subSection:last-of-type,
.noSubSections {
	margin-bottom: 10em;
}
h3 {
	margin: 0;
	border-radius: 14px 14px 0 0px;
	padding: 5px 0;
	width: 100%;
	justify-content: center;
	text-align: center;
}
h3 a {
	max-width: 90%;
}
.subSection.visible h3 {
	background: none;
	border-bottom: 1px solid darkred;
}
h4 {
	margin: 0;
}
.subSectionContent {
	position: relative;
	margin-left: 0px;
	padding-top: 0.25em;
	padding-bottom: 0;
	top: 0;
	width: 100%;
	padding-right: 0;
	width: 90%;
	margin: auto;
	background: none;
}
.theme-colors .subSectionContent {
	background: transparent !important;
}
li {
	margin-top: 0.5em;
	margin-left: -1.25em;
}
ul,
ol {
	margin-bottom: 1.5em;
}
pre {
	border: 1px solid silver;
	font-size: 1em;
	width: unset;
	color: #333;
	border-radius: 5px;
	box-shadow: none;
}
footer {
	display: none;
}

#content > section:nth-of-type(5n + 1) .visible h3,
#content > section:nth-of-type(5n + 2) .visible h3,
#content > section:nth-of-type(5n + 3) .visible h3,
#content > section:nth-of-type(5n + 4) .visible h3,
#content > section:nth-of-type(5n + 5) .visible h3 {
	border: none;
}
.subSection.visible,
.subSection.isResultFromSearch,
.isResultFromSearch .noSubSections {
	border: 3px solid rgb(85, 11, 11) !important;
}
.noSubSections {
	padding: 10px;
	border-radius: 15px;
}

.hide {
	display: none !important;
}
.isColumnResultFromSearch .hide {
	display: block !important;
}

#nav {
	display: none;
}

img,
iframe {
	max-width: 100% !important;
}
iframe {
	max-height: 200px;
}

@media screen and (max-width: 834px) {
	#searchBar {
		display: none !important;
	}
	.displayHomepage h2 {
		font-size: unset;
		margin-top: unset;
	}
	h3 a {
		border-bottom: unset;
		color: unset;
		min-width: unset;
		padding-bottom: unset;
		width: unset;
	}
}

@media screen and (max-width: 500px) {
	body {
		font-size: 1.1em;
	}
	#innerBox {
		scroll-snap-type: x mandatory;
	}
	#initialMessage {
		max-width: unset;
		width: max-content;
	}
	#content > section {
		min-width: 105%;
		scroll-snap-align: center;
	}
}
@media screen and (min-width: 834px) {
	#searchBar {
		display: block !important;
	}
	#searchBar {
		top: 10px;
		right: 10px;
		z-index: 2;
		padding: 0 10px;
		background: white;
	}
	#searchBar input {
		background: unset;
		border: none;
	}
	#searchBar input:focus-visible {
		outline: none;
	}
}
@media screen and (min-width: 1400px) {
	body {
		font-size: 1.2em;
	}
	#content > section {
		min-width: 400px;
	}
}
