body {
	font-size: 0.9em;
}
h1 {
	margin: 0em;
	padding-top: 0.25em;
}
#linkToHomePage,
#searchBar {
	display: none !important;
}
#initialMessage {
	width: 80vw;
	max-width: 80vw;
}
section,
.displaySubSection .subSection.visible,
.visible,
.visible .sectionContent,
.displaySubSection .subSection:not(.visible) .subSectionContent,
.displayHomepage .sectionContent,
.displayHomepage .subSection,
.displaySection .subSectionContent,
.displaySection h2,
.displaySection header,
.displaySubSection h2,
.displaySubSection header,
.sectionContent {
	display: block !important;
}
#backgroundInnerBox,
#innerBox {
	width: 100vw;
	height: 100vh;
	max-width: none;
	margin: 0;
	padding: 0;
}
h2 {
	margin-bottom: 1em !important;
}
.displayHomepage h2 a {
	background-color: unset;
	border: unset;
	font-weight: unset;
	width: unset;
	font-size: unset;
	padding: unset;
}
.displayHomepage h2 a:hover {
	background-color: unset;
	border-color: unset;
	color: unset;
}
#content {
	display: flex;
	width: 100vw;
}
#content > section {
	min-width: 300px;
	max-width: 400px;
}
.sectionContent {
	padding: 10px;
	width: 90%;
	overflow-y: auto;
}
.subSection {
	border: 1px solid black;
	border-radius: 15px;
	background: white;
	margin-bottom: 1em;
}
.subSection:last-of-type,
.noSubSections {
	margin-bottom: 10em;
}
h3 {
	margin: 0;
	border-radius: 14px 14px 0 0px;
	padding: 5px 0;
	width: 100%;
	justify-content: center;
	text-align: center;
}
.subSection.visible h3 {
	background: none;
	border-bottom: 1px solid darkred;
}
.subSectionContent {
	position: relative;
	margin-left: 0px;
	padding-bottom: 0;
	top: 0;
	width: 100%;
	padding-right: 0;
	width: 90%;
	margin: auto;
	background: none;
}
pre {
	border: 1px solid silver;
	font-size: 1em;
	width: unset;
	color: #333;
	border-radius: 5px;
	box-shadow: none;
}
footer {
	display: none;
}
#content > section:nth-of-type(5n + 1) .visible h3,
#content > section:nth-of-type(5n + 2) .visible h3,
#content > section:nth-of-type(5n + 3) .visible h3,
#content > section:nth-of-type(5n + 4) .visible h3,
#content > section:nth-of-type(5n + 5) .visible h3 {
	border-width: 1px;
}

#nav {
	display: none;
}

img,
iframe {
	max-width: 100% !important;
}
iframe {
	max-height: 200px;
}

@media screen and (max-width: 834px) {
	.displayHomepage h2 {
		font-size: unset;
		margin-top: unset;
	}
	h3 a {
		border-bottom: unset;
		color: unset;
		min-width: unset;
		padding-bottom: unset;
		width: unset;
	}
}

@media screen and (max-width: 500px) {
	#initialMessage {
		max-width: unset;
		width: max-content;
	}
	#content > section {
		min-width: 105%;
	}
}
