body {
	font-family: "Inter",sans-serif,Avenir,Helvetica,Arial;
	padding:0;
	margin:0;
	overflow-y: scroll;
}

#innerBox {
    max-width: 700px;
	min-height: 82vh;
    margin: auto;
	padding: 1em 3em;
	margin-bottom:5em;
	background: rgb(246, 246, 246);
}

#backgroundInnerBox {
	position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(246, 246, 246);
    max-width: 700px;
    min-height: 82vh;
    margin: -3em;
    padding: 0 3em;
	z-index:-1;
}

header {
    text-align: center;
}

#initialMessage {
    text-align: left;
	display:none;
	margin-bottom:3em;
	padding: 0 10px;
}

img {
	max-height:300px;
}

main {
    text-align: left;
}


footer {
	width: 100vw;
	height:4em;
	margin:0;
	position:fixed;
	padding:20px 0px;
	font-size: 0.9em;
	text-align: center;
	bottom:5px;
	background-color: white;
	display:flex;
}

#footerContent {
	max-width: 700px;
	margin:auto;
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

footer a {
	text-decoration: none;
	color:#666;
}
footer a:hover {
	color: black;
}


.sectionContent, .displayHomepage .sectionContent, .displayHomepage .sectionContent, .displayHomepage .subSection, .displaySection header, .displaySubSection header, .displaySection h2, .displaySubSection h2 {
	display:none;
}

.displaySection .subSectionContent {
	display:none;
}

.displaySection .visible h2, .displaySubSection .visible h2 {
	display:block;
}

.visible, .visible .sectionContent, .displaySubSection .subSection.visible {
	display:flex!important;
	flex-direction: column;
}

.displaySubSection .subSection:not(.visible) .subSectionContent {
	display:none;
}



h1 {
	margin-bottom: 1.25em;
}

h2 {
	text-align: center;
	flex-grow: 1;
	width:100%!important;
}


h3 {
	flex-shrink: 0;
    width: 180px;
	padding: 5px 20px;
	margin:10px 0;
	display:flex;
	align-items:center;
}

h3 img {
	vertical-align: middle;
	width:50px;
	height:50px;
	border-radius: 50%;
	object-fit:cover;
	margin-left: -0.5em;
    margin-right: 0.5em;
}

h3 a {
	color:black;
	text-decoration: none;
	width: 130px;
}

h3 aside {
	display:block;
	font-weight:300;
	font-size:0.9em;
}
h3 aside aside {
	font-weight:300;
	font-size:0.9em;
	color:#888;
	margin-top:3px;
}

.subSection,.subSection.visible {
	display:flex;
	flex-direction: row!important;
	gap: 40px;
}

.subSection.visible h3 {
	background-color: #DDD;
}


.displayHomepage h2 a {
	text-decoration: none;
    background-color: #ffffff5f;
    padding: 5px 40px;
    display: inline-block;
    color: black;
    border-radius: 12px;
    font-size: 0.95em;
    text-align: left!important;
    border: 1px solid #666;
	width:60%;
	font-weight: 300;
}
.displayHomepage h2 a:hover {
	background-color: rgb(0, 132, 255);
	border-color: rgb(0, 132, 255);
	color:white;
}

.displaySection h2, .displaySubSection h2 {
	margin-bottom:1em;
}
.displaySection h2 a, .displaySubSection h2 a {
	color:black;
	text-decoration: none;
}



input {
	border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.05);
	border:none;
	height: 24px;
    padding: 0px 12px;
}

#searchBar {
	position:absolute;
	top:10px;
	margin-left:-1em;
}

#displayResults ul {
	margin-top: 1em;
    background: rgb(222 222 233);
    padding: 10px 20px;
    font-size: 13px;
	border-radius:20px 0px 20px 0px;
	list-style-type: none;
}

#displayResults a span {
	display:none;
}


@media screen and (max-width: 600px) {
	#searchBar {
		margin-left:1em;
	}

    footer {
		font-size: 10px;
		height:auto;
	}

	#footerContent {
		gap:10px;
		padding:0px 10px;
		overflow-y: auto;
		justify-content:left;
	}

	h1 {
		padding-top: 2em;
    	margin-top: -0.25em;
	}
	
	h2 {
		margin-top:2em;
	}

	.displayHomepage h2 {
		font-size: 1em;
		margin-top:1.25em;
	}
	#innerBox {
		padding:0em 0.75em;
	}
	.displayHomepage #innerBox {
		padding:0em!important;
	}
	
	.displaySubSection .subSection {
		flex-wrap: wrap;
		gap:5px;
	}

	h3 {
		width:90%;
		border-bottom: 1px solid #999;
		padding-top: 10px;
		padding-bottom: 10px;
		margin: 20px auto;
	}
	h3 a {
		width:400px;
	}
	.subSection.visible h3 {
		border-color:#AAA;
	}

	.subSectionContent img {
		max-width: 340px;
	}
}

@media screen and (min-width: 601px) {
	h3 {
		margin-left:-20px;
	}
	h3 aside {
		font-size: 0.65em;
	}
	.subSectionContent {
		position: absolute;
		margin-left: 240px;
		max-width: 495px;
		top:100px;
		padding-bottom:10em;
	}

	.subSectionContent img {
		max-width: 460px;
	}
}